[submodule "docs/de/S4"]
	path = docs/de/S4
	url = https://github.com/WizzardMaker/Settlers-4-Wiki.git
	branch = de
[submodule "docs/en/S4"]
	path = docs/en/S4
	url = https://github.com/WizzardMaker/Settlers-4-Wiki.git
	branch = en
[submodule "docs/de/S3"]
	path = docs/de/S3
	url = https://github.com/WizzardMaker/Siedler-3-Wiki.git
[submodule "docs/en/S3"]
	path = docs/en/S3
	url = https://github.com/WizzardMaker/Siedler-3-Wiki.git
[submodule "docs/de/S4-WarriorsLib"]
	path = docs/de/S4-WarriorsLib
	url = https://github.com/WizzardMaker/S4-WarriorsLib-Wiki.git
	branch = de
[submodule "docs/en/S4-WarriorsLib"]
	path = docs/en/S4-WarriorsLib
	url = https://github.com/WizzardMaker/S4-WarriorsLib-Wiki.git
	branch = en
[submodule "docs/de/SU"]
	path = docs/de/SU
	url = https://github.com/WizzardMaker/Settlers-United-Main-Wiki.git
	branch = de
[submodule "docs/en/SU"]
	path = docs/en/SU
	url = https://github.com/WizzardMaker/Settlers-United-Main-Wiki.git
	branch = en
[submodule "docs/de/S4-Lua"]
	path = docs/de/S4-Lua
	url = https://github.com/WizzardMaker/Settlers-4-Lua-API-Wiki.git
	branch = de
[submodule "docs/en/S4-Lua"]
	path = docs/en/S4-Lua
	url = https://github.com/WizzardMaker/Settlers-4-Lua-API-Wiki.git
	branch = en
[submodule "docs/en/S4-RE"]
	path = docs/en/S4-RE
	url = https://github.com/WizzardMaker/Settlers-4-RE-Wiki.git
	branch = en
[submodule "docs/de/S4-RE"]
	path = docs/de/S4-RE
	url = https://github.com/WizzardMaker/Settlers-4-RE-Wiki.git
	branch = de
